extends layout

block content
	div.container
				if userPosts.length != 0
					each post in userPosts
										ul
											h3: a(href='/posts/' + post.id): li.white-text #{post.title}
											li= post.body
											br
											li Click the title to view the post in more detail
				else
					h2 You didn't make any posts yet!
					br
				script.
					function myFunction() {
					var x = document.getElementById("myTopnav");
					if (x.className === "topnav") {
					x.className += " responsive";
					} else {
					x.className = "topnav";
					}
					}